@namespace Crimson.BlazorMAUI.Camera
@inject IJSRuntime jsRuntime

@code {
    [Parameter]
    public string? Id { get; set; }

    [Parameter]
    public string? Class { get; set; }

    [Parameter]
    public string? Style { get; set; }

    [Parameter]
    public Func<string, object, Task>? OnEventAsync { get; set; }

    [Parameter]
    public Action<string, object>? OnEvent { get; set; }

    protected override async Task OnInitializedAsync()
    {
        // Create camera handler interop object globally
        await jsRuntime.InvokeVoidAsync(
            "globalThis.createCameraHandler", 
            Id, 
            new Func<string, object, Task>(OnEventAsync ?? ((_, __) => Task.CompletedTask)),
            new Action<string, object>(OnEvent ?? ((_, __) => {}))
        );

        await Task.Delay(1000);
    }
}

<div 
    id=@Id
    class=@Class
    style=@Style
>
    <video>

    </video>
</div>
