@namespace Crimson.BlazorMAUI.Camera
@inject IJSRuntime jsRuntime

@code {
    [Parameter]
    public string? Id { get; set; }

    [Parameter]
    public string? Class { get; set; }

    [Parameter]
    public string? Style { get; set; }

    [Parameter]
    public bool Headless { get; set; }
}

<div 
    id=@Id
    class=@Class
     style=@(Headless ? "display: none; \n" + Style : Style)>
    <video>

    </video>
</div>
